### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
# Find total number of players by counting unique SNs
total_players = purchase_data["SN"].value_counts().count()

# Create Player Count df
total_player_df = pd.DataFrame([{"Total Players": total_players}])
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Find number of unique items
unique_items = purchase_data["Item ID"].value_counts().count()

# Find analysis values for purchases
avg_price = purchase_data['Price'].mean()
num_purchases = purchase_data["Purchase ID"].max() + 1
total_revenue = purchase_data["Price"].sum()

# Create Purchasing Analysis df
purchases_summary = [{"Number of Unique Items":unique_items, "Average Price":avg_price,
                     "Number of Purchases":num_purchases, "Total Revenue":total_revenue}]
purchases_summary_df = pd.DataFrame(purchases_summary)
purchases_summary_df.style.format({
    "Average Price": '${:,.2f}'.format,
    "Total Revenue": '${:,.2f}'.format
})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Create df where SN only appears once
unique_players = purchase_data.drop_duplicates(subset=["SN"], ignore_index = True)

# Get gender counts
gender_counts = unique_players["Gender"].value_counts()

# Calculate gender percentages
gender_percents = gender_counts / total_players

# Create Gender Demographics df
gender_summary = {"Total Count": gender_counts, 
                   "Percentage of Players":gender_percents}
gender_df = pd.DataFrame(gender_summary)
gender_df.style.format({
    "Percentage of Players":'{:,.2%}'
})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Find total purchase counts by gender
gender_purchase_count = purchase_data["Gender"].value_counts()

# Calculate total purchase price by gender
total_purchases = purchase_data.groupby(["Gender"])["Price"].sum()

# Calculate average purchase price by gender
avg_gender_price = total_purchases / gender_purchase_count

# Calculate average purchase price by player
unique_purchases = total_purchases / gender_counts

# Create Purchasing Analysis (Gender) df
gender_purchases = {"Purchase Count":gender_purchase_count,
                    "Average Purchase Price":avg_gender_price,
                    "Total Purchase Value":total_purchases,
                    "Avg Total Purchase per Person":unique_purchases}
gender_purchase_df = pd.DataFrame(gender_purchases)
gender_purchase_df.style.format({
    "Average Purchase Price":'${:,.2f}',
    "Total Purchase Value":'${:,.2f}',
    "Avg Total Purchase per Person":'${:,.2f}'
})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins to divide by age group
age_bins = [0,9,14,19,24,29,34,39,100]
age_names = ["<10", "10-14", "15-19", "20-24",
             "25-29", "30-34", "35-39", "40+"]

# Find total count of players in each age group
age_groups = pd.cut(unique_players["Age"], age_bins, labels = age_names).value_counts()

# Find percentage of players in each age group
age_percent = age_groups / total_players

# Create Age demographics df
age = {"Total Count":age_groups, "Percent of Players":age_percent}
age_df = pd.DataFrame(age, index = age_names)
age_df.style.format({
    "Percent of Players":'{:,.2%}'
})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Add Age groups to puchasing data df
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], age_bins, labels = age_names)

# Find total purchase counts by age group
age_purchase_count = purchase_data["Age Groups"].value_counts()

# Calculate total purchase price by age group
total_age_purchases = purchase_data.groupby(["Age Groups"])["Price"].sum()

# Calculate average purchase price by age group
avg_age_price = total_age_purchases / age_purchase_count

# Calculate average purchase price by player divided by age group
unique_age_purchases = total_age_purchases / age_groups

# Create Purchasing Analysis (Age) df
age_purchases = {"Purchase Count":age_purchase_count,
                    "Average Purchase Price":avg_age_price,
                    "Total Purchase Value":total_age_purchases,
                    "Avg Total Purchase per Person":unique_age_purchases}
age_purchase_df = pd.DataFrame(age_purchases)
age_purchase_df.style.format({
    "Average Purchase Price":'${:,.2f}',
    "Total Purchase Value":'${:,.2f}',
    "Avg Total Purchase per Person":'${:,.2f}'
})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Calculate top total purchasing value
total_SN_purchases = purchase_data.groupby(["SN"])["Price"].sum()

# Find top purchase counts
top_purchase_count = purchase_data["SN"].value_counts()

# Calculate avg top purchase prices
avg_top_price = total_SN_purchases / top_purchase_count

# Create Top Spenders df
top_purchases = {"Purchase Count":top_purchase_count,
                    "Average Purchase Price":avg_top_price,
                    "Total Purchase Value":total_SN_purchases}
top_purchase_df = pd.DataFrame(top_purchases)

# Find top 5 spenders by total purchase value
top_purchase_df = top_purchase_df.sort_values(["Total Purchase Value"], ascending = False)
top_purchase_df = top_purchase_df.head(5)
top_purchase_df.style.format({
    "Average Purchase Price":'${:,.2f}',
    "Total Purchase Value":'${:,.2f}'
})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
item_df = purchase_data[["Item ID","Item Name", "Price"]]
item_groups = item_df.groupby(["Item ID", "Item Name"])

# Calculate total purchasing value each item
total_item_purchases = item_groups["Price"].sum()

# Find item purchase counts
item_counts = item_groups["Item ID"].count()

# Calculate item price
item_price = total_item_purchases / item_counts

# Create Popular Items df
top_items = {"Purchase Count":item_counts,
             "Item Price": item_price,
             "Total Purchase Value":total_item_purchases}
top_items_df = pd.DataFrame(top_items)

top_items_df = top_items_df.sort_values(["Purchase Count"], ascending = False)
top_items_df = top_items_df.head(5)
top_items_df.style.format({
    "Item Price":'${:,.2f}',
    "Total Purchase Value":'${:,.2f}'
})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Find top 5 spenders by total purchase value
top_items_df = top_items_df.sort_values(["Total Purchase Value"], ascending = False)
top_items_df = top_items_df.head(5)
top_items_df.style.format({
    "Item Price":'${:,.2f}',
    "Total Purchase Value":'${:,.2f}'
})